# Created at: 2026-05-11 01:17
# Updated at: 2026-05-11 01:27
# Description: Example frontend environment variables.

FRONTEND_HOST=127.0.0.1
FRONTEND_PORT=5173
FRONTEND_STRICT_PORT=true

VITE_API_BASE_URL=http://localhost:8000
